{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Teams</h1>
        <br>
        <br>
        <h4>
            Here you will create, update or delete the teams that participate in the competition
        </h4>
    </div>
    <div class="content">
        <table class="content-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Players</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.nrPeople }}</td>
                    <td>
                        <a class="rounded-button" href="{{ path('app_team_edit', {'id': team.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <a class="rounded-button" href="{{ path('app_team_new') }}">Create new</a>
    </div>
{% endblock %}
