{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/edit_form.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="content">
        <h1>Create new Team</h1>

        {{ include('team/_form.html.twig') }}

        <a class="rounded-button" href="{{ path('app_team_index') }}">Back</a>
    </div>
{% endblock %}
