{% extends 'base.html.twig' %}

{% block title %}Ranking index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}">
{% endblock %}

{% block body %}
    <div class="centered-div">
        <h1>Current placements</h1>

        <table class="content-table">
            <thead>
            <tr>
                <th>Placement</th>
                <th>TeamName</th>
                <th>MaxPoints</th>
            </tr>
            </thead>
            <tbody>
            {% for ranking in rankings %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ ranking.team.name }}</td>
                    <td>{{ ranking.maxPoints }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
