{% extends 'base.html.twig' %}

{% block title %}Ranking index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <h1>Ranking index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TeamName</th>
                <th>MaxPoints</th>
            </tr>
        </thead>
        <tbody>
        {% for ranking in rankings %}
            <tr>
                <td>{{ ranking.id }}</td>
                <td>{{ ranking.team.name }}</td>
                <td>{{ ranking.maxPoints }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
