{% extends 'base.html.twig' %}

{% block title %}Ranking index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="content">
        <h1>Ranking</h1>
        <br>
        <br>
        <h4>
            Here you will see the ranking of the teams that you have created.
            Whenever you set the winner of a match the ranking table will update
            automatically with either 3,1 or 0 points (win, draw, lose)
        </h4>
    </div>
    <div class="content">
        {% block table %}
            <table class="content-table">
                <thead>
                <tr>
                    <th>Placement</th>
                    <th>TeamName</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {% set points = 0 %}
                {% for ranking in rankings %}
                    <tr>
                        {% if ranking.maxPoints != points %}
                        <td>{{ loop.index }}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                        <td>{{ ranking.team.name }}</td>
                        <td>{{ ranking.maxPoints }}</td>
                        {% set points = ranking.maxPoints %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
        <div class="navigation">
            {{ knp_pagination_render(rankings) }}
        </div>
        <a class="rounded-button" href="{{ path('app_ranking_pdf') }}">PDF</a>
    </div>
{% endblock %}