{% extends 'ranking/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block content %}
        <h1>Placements</h1>
        <br>
        {% block table %}
            {{ parent() }}
        {% endblock %}
        <br>
        <h3>And the winner is {{ rankings[0].team.name }} which accumulated {{ rankings[0].maxPoints }} points </h3>
        <h3>The team with the most goals: {{ teamsGoals[0].name }} - {{ teamsGoals[0].total }} goals</h3>
    {% endblock %}
{% endblock %}

