{% extends 'base.html.twig' %}

{% block title %}Match results{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}">
{% endblock %}

{% block body %}
    <div class ="centered-div">
        <h1>TeamsHaveMatches index</h1>

        <table class="content-table">
            <thead>
            <tr>
                <th>Action1</th>
                <th>Team1</th>
                <th>Score</th>
                <th>Team2</th>
                <th>Action2</th>
            </tr>
            </thead>
            <tbody>
            {% for teams_have_match in teams_have_matches %}
                <tr>
                    {% set teamTeams = teams_have_match.Teams|split(',') %}
                    {% set teamIDs = teams_have_match.IDs|split(',') %}
                    <td>
                        <a href="{{ path('app_teams_have_matches_edit', {'id': teamIDs[0] }) }}">
                            edit
                        </a>
                    </td>
                    <td>{{ teamTeams[0] }}</td>
                    <td>{{ teams_have_match.Score|split(',')|join('-') }}</td>
                    <td>{{ teamTeams[1] }}</td>
                    <td>
                        <a href="{{ path('app_teams_have_matches_edit', {'id': teamIDs[1] }) }}">
                            edit
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
