{% extends 'base.html.twig' %}

{% block title %}Match results{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="content">
        <h1>Matches</h1>
        <br>
        <br>
        <h4>
            Here, you will decide which teams will be placed in the reserved time slot
        </h4>
    </div>
    <div class="content">
        <table class="content-table">
            <thead>
            <tr>
                <th>Edit T1</th>
                <th>Team1</th>
                <th>Score</th>
                <th>Team2</th>
                <th>Edit T2</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for teams_have_match in teams_have_matches %}
                <tr>
                    {% if teams_have_match.Teams is not null %}
                        {% if "," in teams_have_match.Teams  %}
                            {% set teamTeams = teams_have_match.Teams|split(',') %}
                        {% else %}
                            {% set teamTeams = [teams_have_match.Teams, null] %}
                        {% endif %}
                    {% else %}
                        {% set teamTeams = [null, null] %}
                    {% endif %}
                    {% set teamIDs = teams_have_match.IDs|split(',') %}
                    <td>
                        <a class="rounded-button" href="{{ path('app_teams_have_matches_edit', {'id': teamIDs[0] }) }}">edit</a>
                    </td>
                    {% if teamTeams[0] is not null %}
                        <td>{{ teamTeams[0] }}</td>
                    {% else %}
                        <td>PICK TEAM</td>
                    {% endif %}
                    <td>{{ teams_have_match.Score|split(',')|join('-') }}</td>
                    {% if teamTeams[1] is not null %}
                        <td>{{ teamTeams[1] }}</td>
                    {% else %}
                        <td>PICK TEAM</td>
                    {% endif %}
                    <td>
                        <a class="rounded-button" href="{{ path('app_teams_have_matches_edit', {'id': teamIDs[1] }) }}">edit</a>
                    </td>
                    <td>
                        {{ teams_have_match.Date ? teams_have_match.Date | date('Y-m-d') : ''}}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(teams_have_matches) }}
        </div>
    </div>
{% endblock %}
