{% extends 'base.html.twig' %}

{% block title %}TeamsHaveMatches index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <h1>TeamsHaveMatches index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Score</th>
                <th>TeamsNames</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teams_have_match in teams_have_matches %}
            <tr>
                <td>{{ teams_have_match.IDs }}</td>
                <td>{{ teams_have_match.Score|split(',')|join('-') }}</td>
                <td>{{ teams_have_match.Teams }}</td>
                {% set teamIDs = teams_have_match.IDs|split(',') %}
                {% for teamID in teamIDs %}
                    <td>
                        <a href="{{ path('app_teams_have_matches_edit', {'id': teamID }) }}">edit </a>
                    </td>
                {% endfor %}

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
