{% extends 'base.html.twig' %}

{% block title %}Edit SummerMatch{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/edit_form.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="content">
        <h1>
            Selected match is placed at the date
            {{ summer_match.startDate ? summer_match.startDate|date('Y-m-d') : '' }}
            between
        </h1>

        {{ include('summer_match/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="rounded-button" href="{{ path('app_summer_match_index') }}">Back</a>

        {{ include('summer_match/_delete_form.html.twig') }}
    </div>
{% endblock %}
