{% extends 'base.html.twig' %}

{% block title %}Match dates{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="content">
        <h1>Match dates</h1>
        <br>
        <br>
        <h4>
            Here you will reserve a timeslot for a match, when you reserve the timeslot, automatically,
            a match between 2 teams will be created in the matches table
        </h4>
        <h4>
            By clicking on the header of the table, you may sort the table based on the header that you selected
        </h4>
    </div>
    <div class="content">
        <table class="content-table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(summer_matches, 'Date', 'startDate', {'style': 'color: aliceblue; text-decoration: none;'}) }}</th>
                <th>{{ knp_pagination_sortable(summer_matches, 'Winner', 'winner', {'style': 'color: aliceblue; text-decoration: none;'}) }}</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for summer_match in summer_matches %}
                <tr>
                    <td>{{ summer_match.startDate ? summer_match.startDate|date('Y-m-d') : '' }}</td>
                    {% if summer_match.winner %}
                        <td>{{ summer_match.winner.name}}</td>
                    {% else %}
                        <td>DRAW</td>
                    {% endif %}
                    <td>
                        <a class="rounded-button" href="{{ path('app_summer_match_edit', {'id': summer_match.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(summer_matches) }}
        </div>
        <a class="rounded-button" href="{{ path('app_summer_match_new') }}">Create new</a>
    </div>
{% endblock %}
